absl-py==2.5.0
aioboto3==15.1.0
aiobotocore==2.24.0
aiodns==3.1.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioitertools==0.11.0
aiosignal==1.3.2
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.13.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asteval==1.0.6
asttokens==3.0.2
astunparse==1.6.3
async-lru==2.3.0
async-timeout==5.0.1
attrs==25.1.0
autograd==1.8.0
autoray==0.8.4
awscrt==0.23.8
azure-core==1.28.0
azure-identity==1.13.0
azure-storage-blob==12.17.0
babel==2.18.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.15.0
bidict==0.23.1
biopython==1.88
biosppy==2.2.4
bleach==6.4.0
blinker==1.9.0
boto3==1.35.99
boto3-stubs==1.36.9
botocore==1.35.99
botocore-stubs==1.43.14
cachetools==7.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.3.2
click==8.1.7
clipin==1.0.0
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
contextlib2==21.6.0
contourpy==1.3.1
coverage==7.13.5
cryptography==44.0.0
cuda-pathfinder==1.5.4
cupy-cuda12x==14.0.1
cycler==0.11.0
datasets==4.1.1
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
deprecation==2.1.0
diastatic-malt==2.15.3
dill==0.4.0
dm-tree==0.1.10
docutils==0.22.4
e3nn==0.6.0
einops==0.8.2
et_xmlfile==2.0.0
executing==2.2.1
Farama-Notifications==0.0.6
fastapi==0.115.7
fastjsonschema==2.21.2
filelock==3.29.0
flaky==3.8.1
Flask==3.1.3
flask-cors==6.0.5
flatbuffers==25.12.19
flatdict==4.1.0
fonttools==4.55.3
formulaic==1.2.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.6.1
future==1.0.0
gast==0.7.0
gdown==4.7.1
geopandas==1.1.4
gitdb==4.0.12
GitPython==3.1.42
google-pasta==0.2.0
grpcio==1.80.0
gunicorn==23.0.0
gymnasium==1.2.1
h11==0.16.0
h5py==3.14.0
hidapi==0.14.0.post2
httpcore==1.0.9
httptools==0.6.1
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
idna==3.10
idna-ssl==1.1.0
imageio==2.37.0
imagesize==2.0.0
immutabledict==4.3.1
importlib_resources==7.1.0
iniconfig==2.3.0
inputimeout==1.0.4
interface_meta==2.0.1
ipykernel==7.3.0
ipython==8.12.3
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isaaclab==0.54.3
isaaclab_assets==0.2.4
isaaclab_tasks==0.11.16
isaacsim==5.1.0.0
isaacsim-app==5.1.0.0
isaacsim-asset==5.1.0.0
isaacsim-benchmark==5.1.0.0
isaacsim-code-editor==5.1.0.0
isaacsim-core==5.1.0.0
isaacsim-cortex==5.1.0.0
isaacsim-example==5.1.0.0
isaacsim-gui==5.1.0.0
isaacsim-kernel==5.1.0.0
isaacsim-replicator==5.1.0.0
isaacsim-rl==5.1.0.0
isaacsim-robot==5.1.0.0
isaacsim-robot-motion==5.1.0.0
isaacsim-robot-setup==5.1.0.0
isaacsim-ros1==5.1.0.0
isaacsim-ros2==5.1.0.0
isaacsim-sensor==5.1.0.0
isaacsim-storage==5.1.0.0
isaacsim-template==5.1.0.0
isaacsim-test==5.1.0.0
isaacsim-utils==5.1.0.0
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jarvis-tools==2026.6.12
jedi==0.20.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.3
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
junitparser==5.0.0
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.1.0
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.20.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.14.1
kiwisolver==1.4.4
lark==1.3.1
libclang==18.1.1
lightning==2.6.5
lightning-utilities==0.15.3
llvmlite==0.42.0
lxml==6.1.3
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==2.1.3
matplotlib==3.10.3
matplotlib-inline==0.2.2
mdurl==0.1.2
mistune==3.3.3
ml_dtypes==0.5.4
mock==5.2.0
mpmath==1.3.0
msal==1.27.0
msal-extensions==1.0.0
multidict==6.1.0
multiprocess==0.70.16
mypy-boto3-s3==1.36.21
namex==0.1.0
narwhals==2.26.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.5.6
nest-asyncio2==1.7.2
networkx==3.3
neurokit2==0.2.13
nibabel==5.4.2
notebook==7.6.0
notebook_shim==0.2.4
numba==0.59.1
numpy==2.4.4
numpydoc==1.9.0
oauthlib==3.2.2
onnx==1.18.0
onnxruntime==1.22.1
opencv-python==4.13.0.92
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
optree==0.19.1
ortools==9.15.6755
osmnx==2.1.1
osqp==0.6.7.post3
overrides==7.7.0
packaging==26.2
paho-mqtt==2.1.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.7
patsy==1.0.3
pennylane==0.45.1
pennylane_lightning==0.45.0
pickleshare==0.7.5
pillow==12.3.0
Pint==0.20.1
pip==24.0
platformdirs==4.9.6
pluggy==1.6.0
portalocker==2.7.0
prettytable==3.11.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.2.1
protobuf==6.33.6
psutil==7.2.2
pure_eval==0.2.3
py3Dmol==2.5.5
pyarrow==21.0.0
pybullet==3.2.7
pycares==4.8.0
pycparser==3.0
pydantic==2.11.10
pydantic_core==2.33.2
pydantic_yaml==1.4.0
pyglet==1.5.31
Pygments==2.20.0
PyJWT==2.12.1
PyLTSpice==6.0.1
pynndescent==0.6.0
pyogrio==0.13.0
pyparsing==3.0.9
pypdf==6.18.1
pyperclip==1.8.0
pypng==0.20220715.0
pyproj==3.7.2
pyreadline3==3.5.6
pyserial==3.5
PySocks==1.7.1
pytest==9.0.3
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-json-logger==4.1.0
python-multipart==0.0.20
python-pptx==1.0.2
pytorch-lightning==2.6.5
pytz==2024.1
PyWavelets==1.9.0
pywin32==306
pywinpty==3.0.5
PyYAML==6.0.2
pyzbar==0.1.9
pyzmq==27.1.0
qai-hub==0.52.0
qai_hub_models==0.58.0
qai_hub_models_cli==0.58.0
qdldl==0.1.7.post5
qrcode==7.4.2
referencing==0.37.0
regex==2026.4.4
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
roman-numerals==4.1.0
rpds-py==2026.6.3
Rtree==1.3.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.15
rustworkx==0.18.1
s3transfer==0.10.4
safetensors==0.7.0
schema==0.7.5
scikit-learn==1.8.0
scipy==1.15.3
scipy-openblas32==0.3.34.237.0
seaborn==0.13.2
semver==3.0.4
Send2Trash==2.1.0
sentry-sdk==2.29.1
setuptools==65.5.0
shapely==2.1.2
shortuuid==1.0.13
six==1.17.0
smmap==5.0.3
snowballstemmer==3.1.1
soundfile==0.13.1
soupsieve==2.8.4
spglib==2.7.0
Sphinx==9.0.4
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spicelib==1.6.3
stable_baselines3==2.9.0
stack-data==0.6.3
starlette==0.49.1
statsmodels==0.15.0
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.21.0
tensorflow-model-optimization==0.8.1
termcolor==3.3.0
terminado==0.18.1
tf_keras==2.21.0
threadpoolctl==3.6.0
timm==1.0.28
tinycss2==1.5.1
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.15.1
toolz==1.1.0
torch==2.11.0+cu128
torch-geometric==2.8.0.post1
torchaudio==2.11.0+cu128
torchmetrics==1.9.0
torchvision==0.26.0+cu128
tornado==6.5.1
tqdm==4.67.3
traitlets==5.15.1
transformers==4.57.6
trimesh==4.5.1
types-awscrt==0.34.1
types-s3transfer==0.16.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
ucimlrepo==0.0.7
umap-learn==0.5.12
uri-template==1.3.0
urllib3==2.6.3
uvicorn==0.29.0
warp-lang==1.13.0
watchdog==4.0.0
wcwidth==0.7.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==12.0
Werkzeug==3.1.8
wfdb==4.3.1
wheel==0.47.0
widgetsnbextension==4.0.15
wrapt==1.16.0
xgboost==3.2.0
xlsxwriter==3.2.9
xmltodict==1.0.4
xxhash==3.8.1
yarl==1.18.3
